*
!results01.py
!results02.py
!result-plot.py
!.gitignore
!README.md
!mango-detect.py
!batch-test-mango.py
!test_mango_detection.py
!logs
!mobilenet-logs-1.txt
!mobilenet-logs-30.txt
!plot2.py
!plot3.py
